/*
	Extra CSS styles
*/

// Tooltip
.tooltip {
    -fx-background-radius: 2 2 2 2;
    -fx-background-color: linear-gradient(#FFFFFF, #DEDEDE);
    -fx-text-fill: black;
    -fx-font-size: 16px;
}
